* {
  box-sizing: border-box; /*Não deixa que a largura dos alementos não sofra alterações com o valor do padding*/
}

body {
  margin: auto;
  font-family: sans-serif;
  font-size: 16px;
  color: #444;
  line-height: 25px;
}

.wrapper{
  display: flex; /*Diz que o display será flexível, sem ele o display adotado será o block*/
  flex-wrap: wrap; /*Diz que haverá quebra de linha. Respeitando a largura interna, o valor definido no bloco*/
  max-width: 900px;
  width: 100%;
  margin: 50px auto;
}

.block {
  width: calc(100%/ 3 - 20px); /*Pegará toda a área útil da tela e divide divide por 3 que é a quantidade de itens que teremos por linha. O -20px é o valor do margin abaixo. Que será 10px de cada lado*/
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2); /*Aplicação da sombra*/
  display: flex;
  flex-direction: column;
}

.block-img {
  height: calc(((100vw - (100vw - 900px))/3 - 20px) / 2);
}

.block-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /*Faz com que a imagem não perca a dimensão*/
}

.block-desc {
  padding: 15px;
  flex-grow: 1; /*diz que o conteúdo poderá ser expandido. Adaptando-se ao tamanho do conteúdo.*/
}
.block-link {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.block-link a {
  color: #494949;
  display: block;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 0;
  transition: 0.1s ease;
}

.block-link a:hove{
    background-color: #ccc;
    color: #fff;
}
@media (max-width: 760px){
  .block{
    width: calc(100%/2 - 20px);
  }

  .block-img {
    height: calc((100vw  /2 - 20px) /2);
  }
}
@media (max-width: 425px){
  .block{
    width: calc(100% - 20px);
  }

  .block-img {
    height: calc((100vw - 20px) /2);
  }
}
@media (max-width: 365px){
  .block{
    width: calc(100%);
    margin: 10px 0;
  }
  .block-img{
    height: calc(100vw / 2);
  }
}